<!DOCTYPE html>
<html>
  <head>
    <title>ditto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
    <div class="col-3">
      &nbsp;
      &nbsp;
      <i class="fa fa-comment-o" aria-hidden="true" id="commenticon"></i>
    </div>
    <div class="col-4 slogan">
      Giving your ego a place to shine since 2020 
    </div>
    <div class="col-5 links">
      <%= link_to 'Quote Yourself', '#' %>
      <%= link_to 'About', '#' %>
    </div>
    </header>

    <hr />
    
    <br class="clear">
    <div class="container">
    <%= yield %>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <p class="text-muted">Place sticky footer content here </p>
        </div>
      </div>
    </div>

  </body>
</html>
